<!DOCTYPE html>
<html>
    <head>
        <title> Maze Generator </title>
        <link rel="stylesheet" type="text/css" href="../static/css/maze.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/> 
        <script type="text/javascript" src="../static/javascript/dat.gui/build/dat.gui.js" defer></script>
        <script type="text/javascript" src="../static/javascript/maze.js" defer>   </script>
    </head>

    <body>

        <h1 align="center"> Maze Generator </h1>

        <div id="maze_container">


        </div>

    </body>

</html>
